<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Members</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <style>
        .logout-btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    </style>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <button class="ui red button logout-btn">
            <a href="/logout" style="color: white;">Logout</a>
        </button>
        <h1 class="ui center aligned header">Fitness Members</h1>
        <br>
        <form class="ui form" method="POST">
            <div class="ui grid">
                <div class="sixteen wide column">
                    <div class="ui fields">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" placeholder="Enter name...">
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" name="email" placeholder="Enter email...">
                        </div>
                        <div class="field">
                            <label for="phone_number">Phone Number</label>
                            <input type="text" name="phone_number" placeholder="Enter phone number...">
                        </div>
                        <div class="field">
                            <label for="join_date">Join Date</label>
                            <input type="date" name="join_date" placeholder="Enter join date...">
                        </div>
                    </div>
                </div>

                <div class="sixteen wide column">
                    <button class="ui green button" type="submit">Add</button>
                    <a href="/view_members" class="ui blue button" style="margin-left: 10px;">View All Members</a>
                </div>
            </div>
        </form>
        
    </div>
</body>

</html>